<header class="site-header">
    <a class="site-logo" href="/">Abraham Galindo</a>
    <a class="hamburguer">
        {% include icons/hamburguer.html %}
    </a>
    {% include navigation.html %}
</header>
<!-- <header> <a href="#home" class="logoo" data-scroll="">Fixed Nav</a> <a href="#" class="nav-togglee active" aria-hidden="false">Menu</a><nav class="nav-collapsee nav-collapse-00 openedd" aria-hidden="false" style="transition: max-height 284ms ease 0s; position: relative;"> <ul> <li class="active"><a href="#home" data-scroll="">Home</a></li> <li><a href="#about" data-scroll="">About</a></li> <li><a href="#projects" data-scroll="">Projects</a></li> <li><a href="#blog" data-scroll="">Blog</a></li> </ul> </nav> </header> -->