body {
  font-family: $font-primary;
  background-color: $bg-color;
  color: $text-color;
  margin: 0;
  padding: 0;

  ul {
    padding: 0;
    margin: 0;
  }
  a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
      color: $primary-color-alt;
    }
  }
  p {    
    color: $text-color-alt;
  }
  
  main {
    background-color: $bg-color-light;
    max-width: $max-width-page;
    margin: 0 auto;
    padding: 30px 60px;
    -webkit-box-shadow: 0px 0px 20px 8px $bg-color-dark;
    -moz-box-shadow: 0px 0px 20px 8px $bg-color-dark;
    box-shadow: 0px 0px 20px 8px $bg-color-dark;
  }
  .home {
    max-width: 100%;
    margin: 0;

  }
}


.site-ul {
  list-style: none;
}

.ul-tags {
    li {
        display: inline-block;
    }
}
