// Fonts
$font-primary: "Montserrat", Helvetica, Arial, serif;
$font-secondary: 'Source Sans Pro', Helvetica, sans-serif;

// Colors
$bg-color-light: #272739;
$bg-color: #171722;
$bg-color-dark: #040206;

$text-color: #fbfbfb;
$text-color-alt: #dfdee0;

$primary-color: #5d2a9c;
$primary-color-alt: #6a39a5;
// $content-color: #7d50b3;
// $content-color-alt: #9a76c7;

// Sizes
$max-width-page: 850px;
$header-height: 115px;
$footer-height: 115px;