// Fonts
$font-primary: "Montserrat", Helvetica, Arial, serif;
$font-secondary: 'Source Sans Pro', Helvetica, sans-serif;

// Colors
$bg-color-light: #444;
$bg-color: #333;
$bg-color-dark: #2b2b2b;

$text-color: #e0e0e0;
$text-color-alt: #ccc;

$primary-color: #25ba00;
$primary-color-alt: #1d9100;
$border-color: #000;

// Sizes
$max-width-page: 850px;
$header-height: 115px;
$footer-height: 115px;
$padding-header: 30px;

// Breakpoints
$small: 479px;
$medium: 639px;
$large: 1023px;
$x-large: 1635px;